body {
	font-family: Verdana, Hevetica, sans-serif;
	font: 13px "Lucida Grande", "Lucida Sans Unicode", arial, sans-serif;
	line-height: 1.53846; /* 20px */
	background: #fff;
}

.errors {
    margin: 1em;
    padding: 6px;
	background-color: #ffcccc;
	border: 1;
	border-radius: 4px;
}

tr.oddrow {
	background-color: #EEEEEE;
}

td {
	padding: 4px;
}

@media print {
.noprint {
	display: none;
}
}

