body {
	font-family: Verdana, Hevetica, sans-serif;
	font: 13px "Lucida Grande", "Lucida Sans Unicode", arial, sans-serif;
	line-height: 1.53846; /* 20px */
	background: #fff;
}

tr.oddrow {
	background-color: #EEEEEE;
}

@media print {
.noprint {
	display: none;
}
}

